
@import "bootstrap";

/** Variables **/
$wrapperWidth: 1000px;
$blue: #428bca;

/* General */
html,
body {
    height: 100%;
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;

  .credit {
    margin-top: 20px;
  }
}
.center {
    text-align: center;
}
.soft-hidden {
    display: none;
}
.warning {
    color: #f33
}

/* Header */
.jumbotron {
    padding: 10px 0;

    h1 {
        font-size: 43px;
    }
}

/* App */
.old-crap {
    margin-top: 70px;
    font-size: 20px;
}
.tempo {
    width: 120px;
    margin: 0 auto;
    text-align: center;
}
.app-buttons {
    p {
        min-height: 33px;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }
}

.riff-output-wrapper {
    margin-top: 20px
}
code {
    color: #666;
}

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

/* Graph */
.riff-graph th,
.riff-graph td {
    width: 40px;
    padding: 10px;
    border: 1px solid #B3B3B3;

    &.filled {
        background: $blue;

        &.mute {
            background: darken($blue, 15%);
        }
        &.plain {
            background: lighten($blue, 15%);
        }
    }
}
